body {
    color: white;
    background: rgb(220, 121, 208);
    margin: 0px;
    font-family: "Libre Baskerville";
  }
  
  header {
    border-bottom: solid 4px rgb(231, 5, 137);
    padding: 20px;
    font-size: 32px;
    color: rgb(231, 5, 137);
  }
  
  section {
    background: rgb(197, 151, 210);
    padding-bottom: 80px;
    padding-top: 80px;
    display: flex;
    justify-content: center;
  }
  
  .chamada-texto {
    margin-right: 5%;
  }
  
  h1 {
    font-size: 40px;
  }
  
  p {
    font-size: 20px;
  }
  
  img{
    height: 200px;
  }